<!DOCTYPE html>
<html>
<head>
    <title>View HTML Files</title>
</head>
<body>
    {% for file_dict in html_list %}
            <div>
                <h3>{{ file_dict['filename'] }}</h3>
                <form action="/view-file" method="POST">
                    <input type="hidden" name="file_index" value="{{ loop.index0 }}">
                    <input type="submit" value="View File">
                </form>
            </div>
    {% endfor %}


    {% if num_pages > 1 %}
        <br>
        <div>
            {% if page > 1 %}
                <a href="{{ url_for('index', page=page-1) }}">Previous</a>
            {% endif %}
            {% if page < num_pages %}
                <a href="{{ url_for('index', page=page+1) }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</body>
</html>
